
.homepage{
    background-color:white;
    text-align: center;
    font-size: 22px;
    font-family: Arial, sans-serif;
}
.homepage-heading{ 
    color:black;
    

}
a{
    /* this next line removes the line from underneath all links*/
    text-decoration: none; 
    color:black;
}

.recipe-container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
    gap:50px;

}

/* this will set the images height and width so they all match*/
img{
    width:200px;
    height:200px;
}

/* this will set the max width of the recipe-box flex boxes so that the
words go on top of their corresponding images not on the side.*/
.recipe-box{
    max-width:250px;
}


/* this is css code for specific recipes pages, I chose to group several
elemets with different classes because I wanted them to share some attributes 
*/
.caldopage,
.sopa-fideos-page,
.salsa-ajo-page{
    background-color: white;
}

.caldopage-heading,
.sopa-fideos-heading,
.salsa-ajo-heading{
    color: rgb(62, 50, 156);
    text-align: center;
}

.heading{
    background-color: rgb(62, 50, 156);
    color:white;
}

.para{
    font-size: 18px;
}

.caldoimage{
    text-align: center;
}




